<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invalid Handle Notification</title>
  </head>
  <body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif">
    <table
      role="presentation"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      border="0"
      bgcolor="#f4f4f4"
    >
      <tr>
        <td align="center" style="padding: 20px">
          <table
            role="presentation"
            width="600"
            cellspacing="0"
            cellpadding="0"
            border="0"
            bgcolor="#ffffff"
            style="max-width: 100%; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)"
          >
            <tr>
              <td
                align="center"
                bgcolor="#FF4D4D"
                style="padding: 20px; border-top-left-radius: 8px; border-top-right-radius: 8px"
              >
                <h2 style="color: #ffffff; font-family: Arial, sans-serif; margin: 0">
                  Invalid Handle
                </h2>
              </td>
            </tr>

            <tr>
              <td
                style="
                  padding: 20px;
                  font-family: Arial, sans-serif;
                  color: #333;
                  text-align: center;
                "
              >
                <p style="font-size: 18px; font-weight: bold; color: #ff4d4d">
                  &quot;%recipient.handle%&quot; is not a valid Codeforces handle
                </p>
                <p style="font-size: 16px; line-height: 1.5">
                  Please send another email with a valid handle in the subject line to
                  <a href="mailto:register@cfratingnotifier.com"> register@cfratingnotifier.com </a>
                </p>
              </td>
            </tr>

            <tr>
              <td
                align="center"
                style="
                  padding: 20px;
                  font-size: 14px;
                  color: #777;
                  border-top: 1px solid black;
                  border-bottom: 1px solid black;
                "
              >
                <p style="margin: 0 0 8px 0">
                  Check out Codeforces Rating Notifier on
                  <a href="https://github.com/swseverance/cfratingnotifier" target="_blank"
                    >Github</a
                  >
                </p>
                <p style="margin: 0 0 8px 0">
                  View the original blog post on
                  <a href="https://codeforces.com/blog/entry/140390" target="_blank">Codeforces</a>
                </p>
                <p style="margin: 0">
                  Codeforces Rating Notifier is not affiliated with Codeforces
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
